.body {
  @include font-size-line(14, 18);
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  color: $more-dark-grey;
}

.body-form {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
