.button {
  @include font-oswald;
  @include font-size-line(14, 18);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;

  &--green {
    background-color: $basic-green;
    color: $basic-white;
  }

  &--before-after {
    background-color: transparent;
    color: $basic-black;
  }

  &--grey {
    background-color: $basic-grey;
    color: $more-dark-grey;
  }
}
