.button {
  @include font-oswald;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  border: none;

  &--green {
    background-color: $basic-green;
    color: $basic-white;

    &:hover {
      background-color: $basic-green2;
    }

    &:active {
      opacity: 30%;
    }
  }

  &--before-after {
    color: $basic-black;
  }

  &--grey {
    background-color: $basic-grey;
    color: $more-dark-grey;
  }
}
