.catalog__title {
  @include font-oswald;
  @include font-size-line(36, 36);
  padding: 0 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(60, 60);
  }
}

.catalog__card-title {
  @include font-oswald;
  @include font-size-line(16, 20);
  color: $special-light-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 22);
  }
}

.catalog__card {
  padding: 0 20px;
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 143px;
  }
}

.catalog__attribute-list {
  @include font-size-line(12, 16);
  margin-top: 13px;
}

.catalog__attribute {
  display: flex;
  justify-content: space-between;
}

.catalog__attribute-name {
  margin: 3px 67px 0 0;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 16);
  }
}

.catalog__attribute-value {
  margin: 3px 0 0 0;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 16);
  }
}

.catalog__card-button {
  @include font-size-line(16, 20);
  display: block;
  margin: 21px 0 0 0;
  padding: 10px 94px;
}

.catalog__card-link {
  display: block;
}

.catalog__card--everything h2 {
  text-transform: uppercase;
}

.catalog__card-subtitle {
  @include font-size-line(12, 16);
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 18);
  }
}


.catalog__additional {

  @media (min-width: $desktop-width) {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  }
}

.catalog__additional-title {
  @include font-oswald;
  @include font-size-line(24, 24);
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(36, 36);
  }
}

.catalog__additional-list {
  @include reset-list;
  padding: 0 20px;
}

.catalog-additional-attributes {

  @media (min-width: $desktop-width) {
  display: flex;
  justify-content: space-between;
  }
}

.catalog__additional-name {
  @include font-oswald;
  @include font-size-line(16, 16);
  color: $special-light-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 20);
  }
}

.catalog__additional-key {
  @include font-size-line(14, 14);

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 20);
  }
  @media (min-width: $desktop-width) {
  margin-top: 21px;
  }
}

.catalog__additional-value {
  @include font-size-line(14, 14);

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 20);
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}

.catalog__additional-card {

  @media (min-width: $tablet-width) {
  border: 1px solid $special-lightest-grey;
  }

  @media (min-width: $desktop-width) {
  display: flex;
  justify-content: space-between;
  }
}

.additional__block {
  margin: 0 0 0 0;
  padding: 20px 20px;
  background-image: url("../img/catalog/cat.jpg");
  width: 100%;
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
  }
}

.additional__text {
  @include font-size-line(16, 20);
  color: $basic-white;
}

.catalog__additional-button {
  @include font-size-line(16, 20);
  display: block;
  margin: 15px 0 15px 0;
  padding: 10px 109px;
}
