// CATALOG
.catalog {
  padding-bottom: 35px;
}

.catalog__title {
  @include font-oswald;
  @include font-size-line(36, 36);
  margin: 0;
  color: $basic-black;
  padding: 28px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    @include font-size-line(60, 60);
    padding: 34px 30px 30px 32px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 110px 41px 110px;
  }
}

.catalog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding: 0 30px 70px 30px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-column-gap: 60px;
    row-gap: 19px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 124px;
    padding: 0 110px;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    row-gap: 145px;
    justify-content: start;
  }
}

// ADDITIONAL LIST
.catalog__card {
  display: block;
  padding: 20px 20px 25px 20px;
}

.catalog__card-body {
  display: flex;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__card-link {
  display: block;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }
}

.catalog__card-info {
  @media (min-width: $tablet-width) {
    padding: 32px 21px;
  }
}

.catalog__card-title {
  @include font-oswald;
  @include font-size-line(16, 20);
  margin: 0;
  color: $special-light-black;
  width: 100px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 22);
    width: 148px;
  }

  &--moregoods {
    width: 220px;
    margin: 59px 0 0 39px;
  }
}

.catalog__card-subtitle {
  @include font-size-line(12, 16);
  margin: 8px 0 0 29px;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 18);
  }
}

.catalog__card-button {
  @include font-size-line(16, 20);
  display: block;
  margin: 8px 0 0 0;
  padding: 10px 94px;

  &--moregoods {
    margin-top: 20px;
  }
}

.catalog__attribute-list {
  @include font-size-line(12, 16);
  margin-top: 13px;
}

.catalog__attribute {
  display: flex;
  justify-content: space-between;
}

.catalog__attribute-name {
  margin: -2px 0 0 0;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 16);
  }
}

.catalog__attribute-value {
  margin: -2px 0 0 62px;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 16);
    margin: 13px 0 0 171px;
  }
}

.catalog__card--everything h2 {
  text-transform: uppercase;
}

.catalog__additional {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__additional-title {
  @include font-oswald;
  @include font-size-line(24, 24);
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(36, 36);
  }
}

.catalog__additional-card {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__additional-name {
  @include font-oswald;
  @include font-size-line(16, 16);
  color: $special-light-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 20);
  }
}

.catalog-additional-attributes {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__additional-key {
  @include font-size-line(14, 14);

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 20);
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}

.catalog__additional-value {
  @include font-size-line(14, 14);

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 20);
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}

.additional__block {
  position: relative;
  background-image: url("../../img/catalog/gift-photo-mobile1x.png");
  width: 100%;
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog/gift-photo-mobile2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/catalog/gift-photo-tablet1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/gift-photo-tablet2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/catalog/gift-photo-desktop1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/gift-photo-desktop2x.png");
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 75px;
    left: 116px;
    width: 78px;
    height: 80px;
    background-image: url("../img/catalog/icon-gift.svg");
  }
}

.additional__text {
  @include font-size-line(16, 20);
  color: $basic-white;
}

.catalog__additional-button {
  @include font-size-line(16, 20);
  display: block;
  margin: 15px 0 15px 0;
  padding: 10px 109px;
}
