.contaсts__wrapper {
  position: relative;
}

.contaсts__address {
  display: flex;
  padding: 20px;
}

.contaсts__address-title {
  margin: 0;
  font-family: $basic-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-black;
}

.contaсts__address-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $more-dark-grey;
}

.contacts__place {
  position: absolute;
  top: 240px;
  left: 131px;
}
