.contaсts__wrapper {
  position: relative;
}

.contaсts__address {
  display: flex;
  padding: 28px 20px;
}

.contaсts__address-title {
  @include font-oswald;
  @include font-size-line(16, 18);
  margin: 0;
  text-transform: uppercase;
  color: $special-black;
}

.contaсts__address-text {
  margin: 0;
  line-height: 20px;
}

.contacts__place {
  position: absolute;
  top: 240px;
  left: 131px;
}
