.contacts__wrapper {
  position: relative;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 66px 72px 61px 72px;
  }

  @media (min-width: $desktop-width) {
    background: $basic-white;
    position: absolute;
    top: 90px;
    left: 112px;
    width: 570px;
    height: 207px;
  }

  &--grey {
    background-color: $basic-grey;
  }
}

.contacts__address-title {
  @include font-oswald;
  @include font-size-line(16, 18);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 140px;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 22);
    padding: 0 55px 0 0;
  }
}

.contacts__address-title > span:not(:first-of-type) {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.contacts__address-text {
  margin: 0;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 18);
    text-align: right;
  }
}

.contacts__address-top {
  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 210px;
  }
}

.contacts__address-bottom {
  @media (min-width: $tablet-width) {
    margin: 20px 0 0 245px;
    display: block;
  }
}

.contacts__map > iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: 0;

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
