.example {
  position: relative;
  background-color: $dark-grey2;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 462px;
      width: 100%;
      background-color: red;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  padding: 27px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 27px 30px;
  }
}

.example__wrapper-demo {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.example__wrapper-results {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  @include font-oswald;
  @include font-size-line(36, 40);
  margin: 0;
  color: $basic-black;
}

.example__text {
  margin: 33px 0 0 0;
}

.example__results {
  @include reset-list;
  display: flex;
}

.example__result {
  margin-top: 25px;
  width: 124px;
  text-align: center;
  border: 1px solid $special-light-grey3;
  border-radius: 3px;

  &:not(:first-of-type) {
    margin-left: 30px;
  }
}

.example__result-value {
  @include font-oswald;
  @include font-size-line(24, 24);
  margin-top: 17px;
  display: block;
  text-transform: uppercase;
  color: $basic-black;
}

.example__result-subtitle {
  @include font-size-line(12, 12);
  margin-top: 10px;
  text-align: center;
}


.example__cost {
  @include font-oswald;
  @include font-size-line(14, 20);
  display: block;
  margin-top: 34px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
}

.example__picture {
  margin-top: 42px;
}

.example__slider {
  margin: 25px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__button {
  @include font-size-line(16, 20);
  margin: 27px 0 31px 0;
  align-items: center;
}

.example__scale {
  position: relative;
  display: block;
  margin: 27px 0 31px 0;
  width: 84px;
  height: 14px;
  border: 1px solid $special-light-grey3;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $basic-white;
}

.example__bar {
  position: absolute;
  width: 35px;
  height: 6px;
  left: 3px;
  top: 3px;
  background-color: $basic-green;
  border-radius: 6px;
}
