.example {
  background-color: $dark-grey2;
}

.example__wrapper {
  padding: 20px;
}

.example__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__text {
  margin: 33px 0 0 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $more-dark-grey;
}

.example__weight {
  @include reset-list;
  display: flex;
}

.example__weight-item {
  margin: 0;
  width: 124px;
  list-style-type: none;
  text-align: center;
  border: 1px solid $special-light-grey3;
  border-radius: 3px;

  &:not(:first-of-type) {
    margin-left: 30px;
  }
}

.example__value {
  margin-top: 17px;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.example__subtitle {
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}


.example__cost {
  display: block;
  margin-top: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__picture {
  margin-top: 30px;
}

.example__slider {
  margin: 25px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  border: none;
}

.example__scale {
  position: relative;
  display: block;
  width: 84px;
  height: 14px;
  border: 1px solid $special-light-grey3;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $basic-white;
}

.example__bar {
  position: absolute;
  width: 35px;
  height: 6px;
  left: 3px;
  top: 3px;
  background-color: #68b738;
  border-radius: 6px;
}
