.example {
  position: relative;
  background-color: $dark-grey2;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 462px;
      width: 100%;
      background-color: $dark-grey2;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  padding: 27px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 97px 30px;
  }
}

.example__wrapper-demo {
  padding: 0 20px 7px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 600px; /* Соответствует высоте картинок*/
  }
}

.example__wrapper-results {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__title {
  @include font-oswald;
  @include font-size-line(36, 40);
  margin: 0;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(60, 60);
  }
}

.example__text {
  margin: 33px 0 0 0;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 24);
    margin: 66px 0 0 0;
  }
}

.example__results {
  @include reset-list;
  display: flex;
}

.example__result {
  position: relative;
  padding: 13px 0 17px 0;
  margin-top: 25px;
  width: 124px;
  text-align: center;
  border: 1px solid $special-light-grey3;
  border-radius: 3px;

  &:not(:first-of-type) {
    margin-left: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 160px;

  &:not(:first-of-type) {
    margin-left: 45px;
  }
  }
}

.example__result-value {
  @include font-oswald;
  @include font-size-line(24, 24);
  display: block;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(30, 37);
  }
}

.example__result-subtitle {
  @include font-size-line(12, 12);
  display: block;
  position: absolute;
  bottom: -16px;
  left: calc(50% - 44px);
  width: 86px;
  padding: 0 2px;
  text-align: center;
  background-color: $dark-grey2;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    width: 113px;
    bottom: -4px;
    left: calc(50% - 53px);
}
}

.example__cost {
  @include font-oswald;
  @include font-size-line(14, 20);
  display: block;
  margin: 34px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 20);
    margin-left: 166px;
  }
}

.example__picture {
  margin: 44px 0 0 17px;

  @media (min-width: $tablet-width) {
    margin: -10px 0 0 50px;
    width: 515px;
    height: 511px;
  }


  @media (min-width: $desktop-width) {
    position: absolute;
    top: -68px;
    left: 105px;
    width: 414px;
    height: 521px;
    overflow: hidden;

    &--overlay {
      display: block;
    }
  }
}

.example__slider {
  margin: 25px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__button {
  @include font-size-line(16, 20);
  margin: -34px 10px 0 12px;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    margin: -72px 16px 0 13px;
  }
}

.example__scale {
  position: relative;
  display: block;
  margin: -3px 0 31px 0;
  width: 85px;
  height: 14px;
  border: 1px solid $special-light-grey3;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: -3px 0 81px 0;
    width: 428px;
    height: 6px;
    background-color: $special-light-grey3;
  }

  @media (min-width: $desktop-width) {
    width: 428px;
    height: 6px;
    background: #DCDCDC;
    border-radius: 6px;
  }
}

.example__bar {
  position: absolute;
  width: 35px;
  height: 6px;
  left: 3px;
  top: 3px;
  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
  display: none;
  }
}

.example__toggle {
  position: absolute;
  position: absolute;
  top: -13px;
  left: 197px;
  width: 34px;
  height: 34px;
  padding: 2px;
  border: 13px solid $basic-white;
  background-color:$basic-green;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 $special-light-grey3;
  cursor: pointer;
}
