.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  padding-top: 31px;
  padding-bottom: 22px;
  border-top: 1px solid dark-grey;
  border-bottom: 1px solid dark-grey;
}

.page-footer__brand-picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer__social-list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid dark-grey;
  border-bottom: 1px solid dark-grey;
}

.footer__social-item {
  list-style-type: none;
}

.footer__copyright-link {
  @include font-size-line(16, 18);
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: $more-dark-grey;
}
