.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  padding: 34px 20px 76px 20px;
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 89px 31px 22px 31px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 110px 93px 110px;
  }
}

.footer__brand-picture {
  display: block;
  text-align: center;
  margin-left: 74px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.footer__social-list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  margin: 56px 0 0 0;
  padding: 0 62px 0 53px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.footer__social-item {
  border-top: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.footer__copyright-link {
  @include font-size-line(16, 18);
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  color: $more-dark-grey;
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
.footer__copyright-text {
  margin-top: 7px;
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
