.form {
  padding: 26px 0 27px 0;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

//TITLE
.form__title {
  @include font-oswald;
  @include font-size-line(36, 36);
  margin: 0;
  padding: 0 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(60, 60);
    padding-left: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.form__subtitle {
  @include font-oswald;
  @include font-size-line(14, 18);
  margin: 39px 0 0 0;
  padding: 0 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    margin-top: 54px;
    padding: 0 229px 0 71px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    padding: 0 110px;
    width: 571px;
  }
}

//TITLE COMMON
.form__title-common {
  @include font-oswald;
  @include font-size-line(24, 26);
  @include reset;
  position: absolute;
  text-align: left;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(36, 36);
  }
}

.form__owner > .form__title-common {
  top: 26px;
  left: 18px;
  max-width: 181px;

  @media (min-width: $tablet-width) {
    max-width: 512px;
    left: 69px;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
  }
}

.form__comment > .form__title-common {
  top: 0;
  left: 18px;

  @media (min-width: $tablet-width) {
    left: 69px;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
  }
}

.form__additional > .form__title-common {
  top: 1px;
  left: 18px;

  @media (min-width: $tablet-width) {
    left: 70px;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
    top: 4px;
  }
}

//SECTIONS
.form__state {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    padding: 0 67px 53px 71px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 77px;
    padding: 0 106px 43px 109px;
  }
}

.form__owner {
  position: relative;
  margin: 0;
  padding: 113px 20px 23px 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 137px 65px 64px 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
    padding: 137px 114px 64px 109px;
  }
}

.form__owner > .form__field:not(:first-of-type) {
  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.form__comment {
  position: relative;
  margin: 0;
  padding: 63px 20px 20px 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 113px 67px 59px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 108px 59px 108px;
  }
}

.form__additional {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 67px 0 37px 41px;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 43px;
    column-gap: 30px;
    padding: 99px 0 58px 105px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    column-gap: 119px;
    padding: 102px 110px 66px 144px;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 71px 43px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 43px 110px;
  }
}

//FIELDS
.form__field-group {
  padding: 0 20px 21px 20px;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 71px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 13px;

    @media (min-width: $tablet-width) {
      margin-top: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 15px;
    }
  }
}

.form__field-name {
  @include font-oswald;
  @include font-size-line(16, 18);
  color: $more-dark-grey;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
  }
}

.form__field-input {
  @include font-oswald;
  @include font-size-line(16, 18);
  padding: 11px 28px 13px 13px;
  margin-left: 15px;
  width: 100%;
  text-transform: uppercase;
  color: $more-dark-grey;
  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    margin-left: 17px;
    padding-top: 8px;
  }

  &--weight {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  &--email {
    margin-left: 10px;

    @media (min-width: $tablet-width) {
      margin-left: 22px;
    }
  }

  &--phone {
    margin-left: 7px;

    @media (min-width: $tablet-width) {
      margin-left: 16px;
    }
  }

  &:hover {
    @media (min-width: $desktop-width) {
      border: 1px solid $special-light-grey3;
    }
  }

  &:focus {
    outline: 2px solid $more-dark-grey;
  }

  &--error {
    outline: 2px solid $pink;
  }
}

.form__field-icon {
  position: absolute;
  top: 0;
  right: 0;
}

//RADIO-BUTTONS
.form__radio-group {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 22px 20px;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    border: 1px solid $dark-grey;
  }
}

.form__radio {
  margin-top: 22px;
}

.form__radio:first-of-type {
  margin-top: 0;
}

.form__radio-input {
  margin: 0;
  opacity: 0;
}

.form__radio-box {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special-light-grey3;

    @media (min-width: $tablet-width) {
      top: -19px;
      left: -10px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__radio-label {
  @include font-oswald;
  @include font-size-line(16, 18);
  margin-left: 29px;
  text-transform: uppercase;
  color: $special-light-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    margin-left: 50px;
  }
}

.form__radio-input:hover + .form__radio-box{
  &::before {
    @media (min-width: $desktop-width) {
      border-color: #bababa;
    }
  }
}

.form__radio-input:disabled + .form__radio-box{
  &::before,
  &::after {
    opacity: 30%;
  }
}

.form__radio-input:checked + .form__radio-box {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $basic-green2;
  }
}

//TEXTAREA
.form__textarea {
  @include font-oswald;
  @include font-size-line(16, 18);
  width: 100%;
  height: 150px;
  padding: 10px 0 0 14px;
  color: $more-dark-grey;
  text-transform: uppercase;
  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    height: 174px;
    padding: 8px 0 0 19px;
  }

  &:hover {
    @media (min-width: $desktop-width) {
      border: 1px solid $special-light-grey3;
    }
  }

  &:focus {
    outline: 2px solid $more-dark-grey;
  }
}

//CHECKBOXES
.form__checkbox {
  @include reset;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.form__checkbox:first-of-type {
  margin-top: 0;
}

.form__checkbox-input {
  margin: 0;
  opacity: 0;
}

.form__checkbox-box {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -39px;
    width: 30px;
    height: 30px;
    border: 1px solid $special-light-grey3;

    @media (min-width: $tablet-width) {
      top: -17px;
      left: -52px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__checkbox-name {
  @include font-oswald;
  @include font-size-line(16, 18);
  padding: 0 0 0 6px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
  }
}

.form__checkbox-input:hover + .form__checkbox-box {
  &::before {
    @media (min-width: $desktop-width) {
      border-color: $special-light-grey4;
    }
  }
}

.form__checkbox-input:checked + .form__checkbox-box {
  &::after {
    position: absolute;
    content: "";
    top: 9px;
    left: -28px;
    width: 19px;
    height: 15px;
    background-image: url("../img/form__checkbox/check.svg");
  }
}

.form__checkbox-input:disabled + .form__checkbox-box {
  &::before,
  &::after {
    opacity: 30%;
  }
}

//SUBMIT SECTION
.form__button {
  @include font-size-line(16, 18);
  padding: 12px 78px;

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    padding: 11px 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 207px;
  }
}

.form__text-required {
  @include font-size-line(14, 16);
  display: block;
  margin: 21px 0 0 14px;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 16);
    margin: 0 0 0 74px;
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 94px;
  }
}
