.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
}

.header__logo {
  display: block;
}

.header__name-link {
  display: block;
}

.header__name {
  display: block;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;
}

.main-nav__toggle {
  @include reset-button;
  width: 24px;
  height: 18px;
  background-color: transparent;
}

.main-nav__list {
  @include reset-list;
}

.site-list__item {
  padding: 24px 0;
  text-align: center;
}

.site-list__item:not(:first-of-type) {
  border-top: 1px solid $special-light-grey;
}

.site-list__link {
  @include font-oswald(500);
  @include font-size-line(20, 20);
  text-transform: uppercase;
  color: $basic-black;
}

.site-list__link:hover {
  color: $dark-grey3;
}

.site-list__link:active {
  color: $special-light-grey4;
}
