
header {
  margin: 0 auto;
}

.header__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
}

.header__logo {
  display: block;
}

.header__name-link {
  display: block;
}

.header__name {
  display: block;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__toggle {
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url("/img/mobile-button.svg");
}

.main-nav__list {
  margin-left: 0;
  padding-left: 0;
}

.site-list__item {
  padding: 24px 0;
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item:not(:first-of-type) {
  border-top: 1px solid #e6e6e6;
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.site-list__link:hover {
  color: #666666;
}

.site-list__link:active {
  color: #b3b3b3;
}
