.page {
  height: 100%;
}

.page__body {
  @include font-size-line(14, 18);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  color: $more-dark-grey;


  @media (min-width: $desktop-width) {
    &--desktop {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 50%;
        height: 696px;
        background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/offer/background-desktop1x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        z-index: -1;

        @media (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/offer/background-desktop2x.png");
        }
      }
    }
  }
}
