.programs__wrapper {
  margin-top: 20px;
}

.programs__program {
  @include reset-list;
  padding: 20px;
  position: relative;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
  }

  &--slim::before {
    position: absolute;
    content: "";
    top: 24;
    left: 22px;
    width: 53px;
    height: 53px;
    background-image: url("../img/programs/cat-back-sit.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 44px;
      left: 466px;
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
    }
  }

  &--pro::before {
    position: absolute;
    content: "";
    left: 22px;
    top: 24;
    width: 67px;
    height: 53px;
    background-image: url("../img/programs/cat-back-run.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 44px;
      left: 466px;
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
    }
  }
}

.programs__program:not(:first-of-type) {
  margin-top: 20px;
}

.programs__program-title {
  padding-left: 81px;

  @include font-oswald;
  @include font-size-line(24, 37);
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-oswald;
    @include font-size-line(36, 36);
    text-transform: uppercase;
    color: $basic-black;
  }
}

.programs__program-description {
  @media (min-width: $tablet-width) {
    @include font-oswald;
    @include font-size-line(16, 24);
    color: $basic-black;
  }
}

.programs__program-link {
  @include font-oswald;
  @include font-size-line(16, 16);
  display: block;
  margin-top: 19px;
  color: $basic-black;
  text-transform: uppercase;
  border-top: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    @include font-oswald;
    @include font-size-line(20, 30);
    text-transform: uppercase;
    color: $basic-black;
    border: none;
  }
}

.programs__program-link::before {
  position: absolute;
  content: "";
  top: 198px;
  left: 116px;
  width: 53px;
  height: 53px;
  background-image: url("../img/programs/icon-arrow.svg");
  background-repeat: no-repeat;
}
