.programs__wrapper {
  @include reset-list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.programs__program {
  @include reset-list;
  padding: 29px 20px 20px 20px;
  position: relative;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 274px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    padding-right: 63px;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--slim::before {
    top: 24px;
    left: 22px;
    width: 53px;
    height: 53px;
    background-image: url("../img/programs/cat-back-sit.svg");

    @media (min-width: $tablet-width) {
      top: 84px;
      left: 447px;
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
    }

    @media (min-width: $desktop-width) {
      top: 46px;
      left: 55px;
      width: 100px;
      height: 100px;
      background-size: contain;
    }
  }

  &--pro::before {
    left: 13px;
    top: 24px;
    width: 67px;
    height: 53px;
    background-image: url("../img/programs/cat-back-run.svg");

    @media (min-width: $tablet-width) {
      top: 58px;
      left: 416px;
      width: 272px;
      height: 231px;
      background-size: 260px 265px;
    }

    @media (min-width: $desktop-width) {
      top: 48px;
      left: 30px;
      width: 135px;
      height: 120px;
      background-size: contain;
    }
  }

  &:not(:first-of-type) {
    margin-top: 21px;

    @media (min-width: $tablet-width) {
      margin-top: 32px;
      padding-right: 315px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-left: 87px;
      padding-right: 69px;
    }
  }
}

.programs__program-title {
  margin: 0 0 0 71px;

  @include font-oswald;
  @include font-size-line(24, 37);
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(36, 36);
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 163px;
  }
}

.programs__program-description {
  @include font-size-line(14, 18);
  margin: 31px 0 0 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $dark-grey;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-size-line(16, 24);
    margin: 25px 0 0 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 74px -52px 0 0;
    padding: 0;
  }
}

.programs__program-link {
  @include font-oswald;
  @include font-size-line(16, 16);
  position: relative;
  display: block;
  margin-top: 19px;
  color: $basic-black;
  text-transform: uppercase;

  &:active {
    opacity: 60%;
  }

  &:hover {
    &::before {
      @media (min-width: $desktop-width) {
        right: 2px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    @include font-size-line(20, 30);
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.programs__program-link::before {
  position: absolute;
  display: block;
  content: "";
  top: 1px;
  left: 100px;
  width: 34px;
  height: 12px;
  background-image: url("../../img/programs/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 130px;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
    left: 131px;
    width: 32px;
    height: 15px;
  }
}

.programs__program-link::after {
  position: absolute;
  display: block;
  content: "";
  top: 7px;
  left: 100px;
  width: 20px;
  height: 2px;
  background: $basic-black;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 132px;
  }

  @media (min-width: $desktop-width) {
    top: 12px;
    left: 132px;
  }
}
