.work-stages__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.work-stages__title {
  @include font-oswald;
  @include font-size-line(36, 40);
  height: 70px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-oswald;
    @include font-size-line(60, 60);
    color: $basic-black;
  }
}

.work-stages__list {
  @media (min-width: $tablet-width) {
    display: block;
    column-count: 2;
  }
}
.work-stages__item {
  @include reset-list;
  display: flex;
  margin-top: 20px;
  list-style-type: none;
  background-position: left center;
  background-repeat: no-repeat;
}

.work-stages__description {
  margin-bottom: 0;
  padding-left: 80px;
  background-repeat: no-repeat;

  &--icon-leaf {
    background-image: url("../img/work-stages/icon-leaf.svg");
  }

  &--icon-tub {
    background-image: url("../img/work-stages/icon-tub.svg");
  }

  &--icon-eat {
    background-image: url("../img/work-stages/icon-eat.svg");
  }

  &--icon-alarm {
    background-image: url("../img/work-stages/icon-alarm.svg");
  }

  @media (min-width: $tablet-width) {

  }
}
