@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset;
  list-style: none;
}

@mixin reset-button {
  @include reset;
  border: none;
  background-color: transparent;
}

@mixin font-oswald($fontWeight: 400) {
  font-family: $basic-font;
  font-weight: $fontWeight;
}

@mixin font-size-line($fontSize, $fontLine) {
  font-size: #{$fontSize}px;
  line-height: #{$fontLine}px;
}
