$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-green:#68b738;
$basic-green2:#5eaa2f;
$special-green:rgba(104, 183, 56, 1);
$basic-grey: #f2f2f2;
$light-grey: #e7e7e7;
$special-light-grey: #e6e6e6;
$special-light-grey2: #ebebeb;
$special-light-grey3: #cdcdcd;
$special-dark-grey: rgba(68, 68, 68, 1);
$special-light-black: #222222;
$dark-grey: #d9d9d9;
$dark-grey2: #eaeaea;
$more-dark-grey: #444444;
$dark-grey3: #666666;
$special-light-grey4:#b3b3b3;
$basic-font: "Oswald", "Arial", sans-serif;
$second-font:  "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
